footer {
  background-color: $dark;
  color: $cream;
}

h1.footer-head {
  font-size: 15px;
  color: $lightBlue;
}

ul.social-buttons > li {
  display: inline;
  font-size: 30px;
}

.footer-link {
  text-decoration: none;
}

.footer-contact {
  list-style-type: none;
}
